@font-face {
  font-family: "iconfont"; /* Project id 3764436 */
  src: url('./iconfont/iconfont.woff2?t=1668240150017') format('woff2'),
       url('./iconfont/iconfont.woff?t=1668240150017') format('woff'),
       url('./iconfont/iconfont.ttf?t=1668240150017') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-navicon-bmjl:before {
  content: "\e662";
}

.icon-daka:before {
  content: "\e62a";
}

.icon-jiangxu:before {
  content: "\e7cc";
}

.icon-zhanghu:before {
  content: "\e600";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-shouye:before {
  content: "\e70e";
}

.icon-guanyu:before {
  content: "\e655";
}

.icon-shijianbiao:before {
  content: "\e669";
}

.icon-guanyu1:before {
  content: "\eaf2";
}

.icon-qiandao_o:before {
  content: "\ebad";
}

.icon-baoming:before {
  content: "\e664";
}

.icon-yewutubiao_xueshengchaxun:before {
  content: "\e6fa";
}

.icon-ditu:before {
  content: "\e629";
}

.icon-gangwei:before {
  content: "\e658";
}

.icon-sousuotubiao:before {
  content: "\e61a";
}

.icon-gongzuo:before {
  content: "\e656";
}

.icon-jiaoshizigezheng:before {
  content: "\e60e";
}

.icon-wode:before {
  content: "\e818";
}

.icon-sort-desc:before {
  content: "\ea22";
}

.icon-zuzhi:before {
  content: "\ec6e";
}

.icon-shengxu:before {
  content: "\e7d1";
}

.icon-icon_guanlianneirong:before {
  content: "\e63b";
}

.icon-icon_sousuo:before {
  content: "\e63d";
}

